* {
  font-family: "Ubuntu", sans-serif;
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  opacity: 100%;
  color: white;
  background-color: #1c1c1c;
}

#menu {
  display: flex;
  justify-content: right;
}
li {
  margin: 20px;
}
#text {
  opacity: 0.6;
}
#work {
  margin-left: 10px;
  color: #2c81f7;
  opacity: 0.6;
  transition: 0.6s;
}
#work:hover {
  opacity: 1;
}
#top {
  margin: 150px;
  border-left: solid #2c81f7 3px;
}
#text,
#text1 {
  margin-left: 10px;
}
#menuli {
  opacity: 0.6;
  transition: 0.6s;
}
#menuli:hover {
  opacity: 1;
}
#contact {
  opacity: 0.6;
  transition: 0.6s;
  color: #2c81f7;
}
#contact:hover {
  opacity: 1;
}
@keyframes example {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
#text1 {
  color: white;
  animation-name: example;
  animation-duration: 4s;
}
#footer{
  opacity: 0.6;
  transition: 0.6s;
}
#footerli:hover{
  opacity: 1;
}
