*{
    font-family: 'Lexend Peta', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #05386B;
}
body{
    background-color: #5CDB95;
}
li{
    display: flex;
    justify-content: center;
}
ul{
    padding-top: 20px;
}
#logo_soap{
    widows: 100px;
    height: 100px;
}