*{
    font-family: 'Ubuntu', monospace;
}
a { cursor: pointer; }
.pt-screen {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.bg-primary {
    background-color: #323444;
  }
  .bg-secondary {
    background-color: #232533;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

