*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: #fff;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
    overflow: hidden;
}
header ul li a{
   text-decoration: none;
   color: #fff;
   overflow: hidden;
   border-radius: 20px;
}
section {
    background-image: url(background.jpg);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section#section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #12214a, transparent);
    z-index: 1000;
}
section#section2::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #173f7c, transparent);
    z-index: 800;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#trees{
    z-index: 10;
}
section img#bushes{
    z-index: 10;
}
section img#ground{
    z-index: 10;
}
section img#birds{
    z-index: 10;
}
section img#foliage{
    z-index: 10;
}
#text {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn {
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding: 5px 20px;
    border-radius: 40px;
    background: #fff;
    color: #434787;
    white-space: nowrap;
    font-size: 1em;
    z-index: 9;
    transform: translateY(100px)
}
.sec {
    position: relative;
    padding: 30px;
    background: #12214a;
}
.sec2 {
    position: relative;
    padding: 30px;
    background: #173f7c;
}
#scroll-down {
    position: absolute;
    z-index: 1000000;
    bottom: 0;
}
.about {
    margin: 100px;
}
#mobile-nav{
    background: #6a71ce;
}
#h2 {
    color: #fff;
    white-space: nowrap;
    font-size: 5vw;
}
#section2 {
    height: 100%;
}
.contact {
    background: #173f7c;
    overflow: hidden;
}
.text {
    overflow: hidden;
}
